DECIMO_SEMESTRE/TECNOLOGIAS_INTEGRACION/prueba.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cfdi">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="re" />
              <xs:element name="rr" />
              <xs:element name="uuid" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>